@model lab7.Models.Instrument;
<!DOCTYPE html>
<html>

<h4>Instrument</h4>
<div class="edit-block">
    @using (Html.BeginForm("EditInstrumentPost", "Home"))
    {
        <div class="dataBox">
            <label>ID</label><br />
            @Html.TextBoxFor(m => m.Id, new { type = "number", @class = "text-box" })
        </div>
        <div class="dataBox">
            <label>Имя</label><br />
            @Html.TextBoxFor(m => m.Name, new { @class = "text-box" })
        </div>
        <div class="dataBox">
            <label>Тип</label><br />
            @Html.DropDownList("Type", new SelectList(new string[] { "Струнный", "Духовой", "Ударный", "Клавишный" }))
        </div>
        <div class="dataBox">
            <input type="submit" value="Save" />
        </div>
    }
</div>
<div>
    <a asp-action="InstrumentsPage">Back to Instruments List</a>
</div>
</html>
