@model string;
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
</html>
<div class="text-center" style="background-color: deepskyblue">
    @*@<h2>@ViewData["Title"]</h2>*@
    <label>@Model</label>
    <div>
        <a asp-action="MusiciansPage">Back to Musicians List</a>
    </div>



</div>